
<div class="container">

    <div>
      <a class="btn" [routerLink]="'/question4'">Question 4 🙂</a>
      
      <a class="btn" [routerLink]="'/question5'">Question 5 😁</a>
  
    </div>

    <div class="terminal-wrapper">
      <p class="commented">// Rest answers can be shown on code editor's terminal</p>
      <p class="commented">// by replacing number with (1, 2, or 3) then run:</p>

      <p>npx ts-node src/app/components/Question(number).ts</p>

      <p class="commented">// npx ts-node src/app/components/Question1.ts</p>
      <p class="commented">// npx ts-node src/app/components/Question2.ts</p>
      <p class="commented">// npx ts-node src/app/components/Question3.ts</p>
    </div>
  
</div>