.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.btn {
    font-size: 20px;
    padding: 1rem;
    background-color: #1a2739;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;

    &:first-child {
        margin-right: 2rem;
    }
}

.terminal-wrapper {
    color: #f5d67b;
    display: block;
    font-family: monospace;
    max-width: 700px;
    font-size: 16px;
    padding: 15px 20px 12px 22px;
    line-height: 1.75;
    background: #333;
    border: 1px solid #979797;
    border-radius: 7px;
    margin-top: 3rem;
    min-width: 700px;
    letter-spacing: .5px;
    cursor: default;
}

.commented {
    color: #979797;
}